body{
    color: #1A1A1A;
}
body{
    font-family: 'Noto Sans JP', serif;
}
header a {
    color: #1A1A1A;
}
.menu a {
    color: #1A1A1A;
    /*font-weight: bold;*/
}
.cover-container{
    background-color: #FFFFFF;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}
.logo{
    width: 11.563rem;
    height: 7.086rem;
    margin-top: 3rem;
    margin-bottom: 0
}
.menu-content{
    font-size: 16px;
    font-family: 'Noto Sans JP', serif;
    line-height: 24px;
    margin-bottom: 1.313rem;
    margin-top: 2.481rem;
}
footer .menu {
    margin-top: 3.125rem;
    margin-bottom: 1.925rem;
    font-size: 16px;
    line-height: 24px;
}
.copyright{
    margin-top: 1.6rem;
    margin-bottom: 3rem;
    font-size: 13px;
    line-height: 19px;
}
.logo-footer{
    margin-top: 3.469rem;
}
.show-hr{
    margin-left: 15px;
    margin-right: 15px;
}
.ft-14 {
    font-size: 14px;
}
@media (min-width: 768px) {
    .content-fixed {
        margin-top: 1.6375rem;
    }
    .menu-content {
        margin-top: 2rem;
        margin-bottom:  1.313rem;
    }
}
@media (min-width: 992px) {
    .show-hr{
        margin-left: 0;
        margin-right: 0;
    }
    .cover-container{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .header-content{
        margin-left: 4.688rem;
        margin-right: 4.688rem;
    }
    .logo{
        margin-top: 3.310rem;
        margin-bottom: 1.7rem;
    }
    .menu-content{
        margin-top: 6.85rem;
        margin-bottom: 3.8rem;
    }
    footer .menu {
        margin-top: 6.313rem;
        margin-bottom: 2.469rem;
    }
    .logo-footer{
        margin-top: 3.469rem;
    }
    .copyright{
        margin-top: 2rem;
        margin-bottom: 9rem;
    }
}
